<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashibing.servicedriveruser.mapper.DriverUserMapper">



    <select id="selectAvailableDriverCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from v_city_driver_user_work_status where city_code = #{cityCode}
    </select>

    <select id="selectOneAvailableDriver" parameterType="java.lang.Long" resultType="com.mashibing.internalcommon.response.OrderDriverResponse">
        SELECT user.driver_phone,
               rel.driver_id,
               rel.car_id,
               user.license_id,
               car.vehicle_no
        FROM
            driver_car_binding_relationship rel
            INNER JOIN driver_user user ON rel.driver_id = USER.id
            INNER JOIN car ON car.id = rel.car_id
        WHERE
            rel.bind_state = #{bindState}
          AND rel.car_id =  #{carId}
            LIMIT 1
    </select>

</mapper>
